.main{
    background-color: #eefdfd;
}

.navbar{
    height: 120px;
}

.titulo{
    color: #256154;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.texto1{
    margin-left: 80px;
    margin-bottom: 20px;
}
img {
    border-radius: 50%;
    }

/* bienvenia */
.welcome-container {
    position: relative;
    height: 100vh;
    background-image: url(../../../Pictures/olas2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(182, 182, 182, 0.4);
    z-index: 1;
}

.content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
    animation: fadeIn 2s ease-in;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #00a8cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #008cb0;
    }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.barco {
    position: absolute;
    bottom: 60px;
    left: -300px;
    width: 220px;
    z-index: 2;
    animation: barcoMove 20s linear infinite;
}

@keyframes barcoMove {
    0% { left: -200px; }
    100% { left: 110%; }
}

/* horarios y precios */
    .container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.box{
    background: linear-gradient(145deg, #6ab7d1, #00b3b3);
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    transition: transform 0.3s;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s;
}
.schedule-item {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.schedule-item .label {
    font-weight: bold;
    margin-bottom: 10px;
}
.schedule-item ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.schedule-item li {
    margin: 5px 0;
    font-size: 1.1em;
}

.schedule:hover {
    transform: scale(1.05);
}

.box:hover {
    transform: scale(1.05);
}

/* dato del dia*/
.overview{
    height: 225px;
    background-color: #cbf5f5;
}

/*info del nivel de agua*/

/* la caja del fondo*/
.salud-marina {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla de datos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0077b6;
    color: white;
}


/* Gráficas generales */
.grafica {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 250px;
    margin: 20px auto;
    background: #eef5f9;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 80%;
}

/* Eje Y */
.eje-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-right: 10px;
    font-size: 14px;
    color: #333;
}

.eje-y span {
    margin-bottom: 20px;
}

/* Barras generales */
.barras {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}

.barra {
    width: 60px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s;
}

.barra:hover {
    opacity: 0.8;
}

/* Colores de barras */
.barra.azul {
    background: #0077b6;
}
.barra.verde {
    background: green;
}

/* Etiquetas sobre las barras */
.etiqueta {
    position: absolute;
    top: -63px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.box-b:hover {
    transform: scale(1.05);
}


/*seccion de conversacion marina, contaminación, y especies invasoras */
.conservacion-marina {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #cbf5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tarjeta {
    width: 280px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    border-radius: 10px;
}

.tarjeta h2 {
    color: #005f73;
    font-size: 18px;
    margin: 10px 0;
}

.tarjeta p {
    font-size: 14px;
    color: #333;
}

button {
    background: #256154;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #005f73;
}

.info-extra {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}


.box-b{
    color: #e2f7f2;
    background: linear-gradient(145deg, #6ab7d1, #00b3b3);
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: transform 0.3s;
}

/* seccion amrina 2 */
.categoria-carrusel {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.categoria-carrusel h2 {
    color: #0077b6;
}

.carrusel-contenedor {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    gap: 16px;
    padding: 10px;
}

.carrusel {
    display: flex;
}

.item {
    flex: 0 0 auto;
    width: 280px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    scroll-snap-align: start;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item h3 {
    margin: 10px 0 5px;
    color: #0077b6;
}

.item p {
    font-size: 14px;
    color: #444;
}


  /* Estilo para la tarjeta de ayuda */
.item.ayuda {
    background-color: #f0fdf4;
    border: 2px dashed #38b000;
}

.item.ayuda h3 {
    color: #007200;
}

.item.ayuda ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    text-align: left;
}

/*seccion turistica*/
.turismo {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.turismo h2 {
    color: #0077b6;
}

.subseccion {
    margin-top: 30px;
}

.subseccion h3 {
    color: #023e8a;
    margin-bottom: 20px;
}

.galeria-turismo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta-turismo {
    background: #f1f9fb;
    border-radius: 12px;
    width: 280px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.tarjeta-turismo:hover {
    transform: scale(1.03);
}

.tarjeta-turismo img {
    width: 100%;
    border-radius: 10px;
}

.tarjeta-turismo h4 {
    margin: 10px 0 5px;
    color: #0077b6;
}

.tarjeta-turismo p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.tarjeta-turismo a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    background: #0077b6;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.tarjeta-turismo a:hover {
    background-color: #005f73;
}

/*seccion de lo que vamos a agregar en el futuro */
.pronto{
    background: linear-gradient(to right, #6ab7d1, #00b3b3);
    color: white;
    padding: 50px 20px;
    text-align: center;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 900px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pronto-contenido h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.pronto-contenido p {
    font-size: 1.1em;
}

.pronto-contenido ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pronto-contenido ul li {
    font-size: 1em;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.pronto-contenido li:hover{
    transform: scale(1.03);
}

.pronto-texto {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

/*footer */
.footer {
    background: linear-gradient(145deg, #6ab7d1, #00b3b3);
    color: white;
    padding: 30px 15px;
    text-align: center;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-enlaces {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-enlaces li a {
    color:#cbf5f5;
    font-weight: bold;
}

.footer-enlaces li a:hover {
    text-decoration: underline;
}

.footer-creditos {
    margin-top: 20px;
    font-size: 14px;
    color: #c4e3ff;
}